@model IEnumerable<WebSiteBanHang.Models.TBL_LOGIN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}


<style>
    .table .middle {
        vertical-align: middle;
    }

    .table-admin {
        border: 1px solid #ddd;
    }

        .table-admin td, .table-admin th {
            border: 1px solid #ddd !important;
        }

    h2, h4 {
        text-align: center;
        color: blue;
    }

    .Bang {
        background: none;
        border-top: none;
    }
</style>


<h2>DANH SÁCH TÀI KHOẢN</h2>

<div style="padding-bottom: 10px; padding-left: 15px;">
    <a class="btn btn-success" data-toggle="modal" data-target="#myModalUser">Thêm account</a>
</div>
<div class="col-md-12">
    <div class="box Bang">
        <table class="table table-bordered table-striped table-admin" style="width:100%" role="grid">


            <tr>
                <th>
                    TÊN ĐĂNG NHẬP
                </th>

                <th>
                    EMAIL
                </th>
                <th>
                    SỐ ĐIỆN THOẠI
                </th>
                <th>
                   TRẠNG THÁI
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.USERNAME)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td>
                    @if (item.ACTIVATE == true)
                    {
                        <div>
                            Đang hoạt động
                        </div>

                    }
                    else
                    {
                        <div>
                            Đã khóa
                        </div>
                    }
                </td>

                <td>

                    <button class="btn btn-danger" onclick="xoaNhanVien('@item.USERNAME')"><i class="fa fa-cogs"></i></button>

                </td>
            </tr>
            }

        </table>
    </div>
</div>

//Popup thêm account
<div class="modal fade" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">ACCOUNT Mới </h5>
            </div>
            <div class="modal-body">
                <form id="myFormNV">
                    <div class="form-group">
                        <label for="tennv" class="col-form-label">Tên nhân viên</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" id="submit" onclick="AddAccount()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
    function AddAccount(data) {
        var dom = document.getElementById("myFormNV")
        var formData = new FormData(dom)
        var username = $('#username').val();
        var password = $('#password').val();
        var email = $('#email').val();
        var phone = $('#phone').val();

        $.ajax({
            method: "POST",
            url: "/Admin/NhanVien/Create",
            //contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,

            success: function (data) {
                if (data.StatusCode === 200) {
                    toastr.success("Thêm thành công");
                    $('#myModalUser').modal('hide')
                    $('#username').val(username)
                    $('#password').val(password)
                    $('$email').val(email)
                    $('$phone').val(phone)
                    window.location.reload()
                }
                else {
                    toastr.error(data.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error(errorThrown);
            }
        });
    }

    function xoaNhanVien(userName) {
      
            if (window.confirm("Bạn có muốn mở/ khóa tài khoản này không?")) {
                $.ajax({
                    method: "POST",
                    url: "/Admin/NhanVien/Delete/?userName=" + userName,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.StatusCode === 200) {
                            toastr.success("Cập nhật thành công");
                            var a = "#data_" + userName;
                            $(a).remove();
                            $(a).reload();
                        } else {
                            toastr.error(data.Message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(errorThrown);
                    }
                });
            }
        }
</script>