@model WebSiteBanHang.Models.TBL_GROUP_ROLE

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<head>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/Template/bower_components/select2/dist/css/select2.min.css">

    <link rel="stylesheet" href="/Content/Template/dist/css/AdminLTE.min.css">
    <!-- Select2 -->
    <script src="~/Content/Template/bower_components/select2/dist/js/select2.full.min.js"></script>

</head>
<style>
    * {
        font-size: 14px;
    }

    label {
        font-weight: initial;
    }

    h2, h4 {
        color: blue;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 style="color:blue; text-align:center">Phân quyền truy cập màn hình</h2>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-4">Danh sách màn hình chức năng</label>
            <div class="col-md-6">
                <select class="form-control select2" name="Quyens" multiple="multiple" data-placeholder="Chọn màn hình" style="width: 100%"></select>
            </div>
        </div>
    </div>

    <div class="col-md-offset-5 col-md-8">
        <input type="submit" value="Thêm mới" class="btn btn-primary" />
    </div>
}

    <div class="form-group col-md-offset-2">

        @Html.ActionLink("<<Quay lại danh sách", "Index", "PhanNhomNV")
        
    </div>

<script>
        //select 2
        $('.select2').select2({
            ajax: {
                delay: 100,
                url: function (params) {
                    var baseURL = '/admin/quyen/getquyens/'+ @ViewBag.idgroup;
                    if (params && params.term) {
                        baseURL += "?search=" + params.term;
                    }
                    return baseURL;
                },
                data: function (params) {
                    var query = {
                        search: params.term,
                        
                    }
                },
                dataType: 'json',
                processResults: function (data) {
                    // Tranforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data
                    };
                }
            }
        });
</script>
