@model IEnumerable<WebSiteBanHang.Areas.Admin.ViewModels.PhanQuyenNVViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}

<div class="col-md-12">
    <h2 style="color:blue;text-align:center"> Danh sách màn hình được quyền truy cập</h2>
    <table id="manhinh" class="table table-bordered table-striped table-admin" role="grid">
        <tr>

            <th>
                Tên màn hình
            </th>

            <th>Chức năng</th>
        </tr>
        <tbody class="tbody"> </tbody>
    </table>
</div>

<div class="form-group col-md-5">

    @Html.ActionLink("<<Quay lại danh sách", "Index", "PhanNhomNV")|
    <a class="btn btn-warning" href="/Admin/NhomQuyen/Create/@ViewBag.ID_Group" title="Phân quyền truy cập cho nhóm"><i class="fa fa-eye"></i></a>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //var nav = $('.content-nav');
        //if (nav.length) {
        //    var contentNav = nav.offset().top;
        //}
        $(document).on('load', loadGridView());

        //config toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
    var id=@ViewBag.ID_Group;
    function loadGridView() {
        $('#manhinh').DataTable({

            serverSide: true,
            ajax: {
                url: "/Admin/NhomQuyen/getall/"+id,
                type: "POST",
                dataType: "JSON",
            },
            language: {
                lengthMenu: "Hiển thị _MENU_ mục",
                zeroRecords: "Không tìm thấy ",
                info: "Hiển thị trang _PAGE_ đến _PAGES_ của _MAX_ mục",
                infoEmpty: "Không có dữ liệu",
                infoFiltered: "(lọc từ _MAX_ tổng mục)",
                search: "Tìm kiếm",
                searchPlaceholder: "Search...",
            },
            columns: [

                { title: "Tên màn hình", data: "RoleName" },

                {
                    title: "Chức năng",
                    data: function (data, type, dataToSet) {
                        return data.ID_GROUP + "," + data.ID_ROLE;
                    },
                   
                    searchable: false,
                    sortable: false,
                    render: function (data, type, full, meta) {
                        var list = data.split(",")
                        var groupid = list[0];
                        var roleid = list[1];
                        return `<div>
                                     <a class="btn btn-danger" onclick="XoaQuyen(${groupid},${roleid})">
                                         <i class="fa fa-trash-o"></i>
                                     </a>
                                 </div> `

                    }
                }
            ],

        });
    }
    function XoaQuyen(groupid, roleid) {

        if (window.confirm("Bạn có muốn xoá không?")) {
            $.ajax({
                method: "POST",
                url: "/Admin/NhomQuyen/Delete?groupid=" + groupid + "&roleid=" + roleid,
                contentType: 'application/json',
                success: function (data) {
                    if (data.StatusCode === 200) {
                        toastr.success("Xóa thành công");
                        $('#manhinh').DataTable().ajax.reload();
                    } else {
                        toastr.error(data.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error(errorThrown);
                }
            });
        }
    }

</script>
