USE [BanHangOline]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/4/2019 1:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[Id_DatHang] [int] NOT NULL,
	[Id_SanPham] [int] NOT NULL,
	[Id_ChiTietDatHang] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[DiaChiGiao] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CHITIETDATHANG] PRIMARY KEY CLUSTERED 
(
	[Id_ChiTietDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUGIAO]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUGIAO](
	[Id_HOADONGIAOHANG] [int] NOT NULL,
	[Id_SanPham] [int] NOT NULL,
	[Id_ChiTietPhieuGiao] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongGiao] [int] NOT NULL,
	[GiaBan] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
 CONSTRAINT [PK_dbo.CHITIETPHIEUGIAO] PRIMARY KEY CLUSTERED 
(
	[Id_ChiTietPhieuGiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[Id_KhachHang] [int] NOT NULL,
	[Id_SanPham] [int] NOT NULL,
	[Id_DanhGia] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[SoSao] [int] NOT NULL,
	[NgayDanhGia] [datetime] NULL,
 CONSTRAINT [PK_dbo.DANHGIA] PRIMARY KEY CLUSTERED 
(
	[Id_DanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[Id_DatHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TongTien] [float] NOT NULL,
	[TrangThai] [int] NULL,
	[Id_KhachHang] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DATHANG] PRIMARY KEY CLUSTERED 
(
	[Id_DatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIASANPHAM]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIASANPHAM](
	[Id_GiaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[GiaBan] [float] NOT NULL,
	[Id_SanPham] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GIASANPHAM] PRIMARY KEY CLUSTERED 
(
	[Id_GiaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH](
	[Id_Hinh] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Id_SanPham] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HINH] PRIMARY KEY CLUSTERED 
(
	[Id_Hinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONGIAOHANG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONGIAOHANG](
	[Id_DatHang] [int] NOT NULL,
	[Id_KhachHang] [int] NOT NULL,
	[Id_HOADONGIAOHANG] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiao] [datetime] NULL,
	[TrangThai] [int] NULL,
	[TongTien] [float] NOT NULL,
 CONSTRAINT [PK_dbo.HOADONGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[Id_HOADONGIAOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[Id_KhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PassWord] [nvarchar](max) NULL,
	[DiemTichLuy] [float] NULL,
	[TongChi] [float] NULL,
	[TrangThai] [bit] NULL,
	[Id_LoaiKhachHang] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[Id_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[Id_KhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GiaTriKhuyenMai] [float] NOT NULL,
 CONSTRAINT [PK_dbo.KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[Id_KhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KIEUPHONG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIEUPHONG](
	[Id_KieuPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenKieuPhong] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[Id_LoaiPhong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KIEUPHONG] PRIMARY KEY CLUSTERED 
(
	[Id_KieuPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[Id_LoaiKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LOAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[Id_LoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[Id_LoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TenNoiThat] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[Id_LoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[Id_LoaiSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NULL,
	[Id_KieuPhong] [int] NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_dbo.LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[Id_LoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[Id_LoaiSanPham] [int] NOT NULL,
	[Id_KhuyenMai] [int] NULL,
	[Id_SanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[DonViTinh] [nvarchar](max) NULL,
	[MauSac] [nvarchar](max) NULL,
	[VatLieu] [nvarchar](max) NULL,
	[KichThuoc] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[Mota] [nvarchar](max) NULL,
	[TrangThai] [int] NOT NULL,
	[NgayBatDauBaoHanh] [datetime] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[XuatSu] [nvarchar](max) NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](20) NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_dbo.SANPHAM] PRIMARY KEY CLUSTERED 
(
	[Id_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GROUP]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUPNAME] [nvarchar](max) NULL,
	[GROUPDESC] [nvarchar](max) NULL,
	[ACTIVATE] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](20) NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_dbo.TBL_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GROUP_LOGIN]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUP_LOGIN](
	[USERNAME] [nvarchar](128) NOT NULL,
	[ID_GROUP] [int] NOT NULL,
	[ACTIVATE] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TBL_GROUP_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[ID_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GROUP_ROLE]    Script Date: 5/4/2019 1:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GROUP_ROLE](
	[ID_GROUP] [int] NOT NULL,
	[ID_ROLE] [int] NOT NULL,
	[ACTIVATE] [bit] NULL,
 CONSTRAINT [PK_dbo.TBL_GROUP_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID_GROUP] ASC,
	[ID_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOGIN]    Script Date: 5/4/2019 1:26:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOGIN](
	[USERNAME] [nvarchar](128) NOT NULL,
	[PASSWORD] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](500) NULL,
	[PHONE] [nvarchar](20) NULL,
	[TYPE] [bit] NULL,
	[ISADMIN] [bit] NOT NULL,
	[ACTIVATE] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](20) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[Inactive] [bit] NULL,
 CONSTRAINT [PK_dbo.TBL_LOGIN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU]    Script Date: 5/4/2019 1:26:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MENU_NAME] [nvarchar](max) NULL,
	[MENU_SEQ] [int] NULL,
	[MENU_PARENT] [int] NULL,
	[ACTIVATE] [bit] NULL,
	[MENU_ICON] [nvarchar](max) NULL,
	[ID_ROLE] [int] NULL,
 CONSTRAINT [PK_dbo.TBL_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROLE]    Script Date: 5/4/2019 1:26:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](200) NULL,
	[ROLE_DEF] [nvarchar](500) NULL,
	[ROLE_LINK] [nvarchar](max) NULL,
	[ACTIVATE] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](20) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[Inactive] [bit] NULL,
 CONSTRAINT [PK_dbo.TBL_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KIEUPHONG] ON 

INSERT [dbo].[KIEUPHONG] ([Id_KieuPhong], [TenKieuPhong], [HinhAnh], [TrangThai], [Id_LoaiPhong]) VALUES (1, N'Phòng khách hiện đại', NULL, 1, 1)
INSERT [dbo].[KIEUPHONG] ([Id_KieuPhong], [TenKieuPhong], [HinhAnh], [TrangThai], [Id_LoaiPhong]) VALUES (2, N'Phòng khách RUMBA', NULL, 1, 1)
INSERT [dbo].[KIEUPHONG] ([Id_KieuPhong], [TenKieuPhong], [HinhAnh], [TrangThai], [Id_LoaiPhong]) VALUES (3, N'Phòng khách hiện đại MAXINE', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[KIEUPHONG] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([Id_LoaiPhong], [TenLoaiPhong], [HinhAnh], [MoTa], [TenNoiThat], [TrangThai], [Type]) VALUES (1, N'Phòng khách', NULL, N'Phòng khách là không gian chính của ngôi nhà, là nơi sum họp của các thành viên trong gia đình, thể hiện gu thẩm mỹ và cá tính của gia chủ. Những mẫu phòng khách đẹp, tinh tế được Nhà Xinh thiết kế và sắp đặt sẽ mang đến cho bạn những ý tưởng để có một không gian như ý.', N'Nội thất phòng khách', 1, 1)
INSERT [dbo].[LOAIPHONG] ([Id_LoaiPhong], [TenLoaiPhong], [HinhAnh], [MoTa], [TenNoiThat], [TrangThai], [Type]) VALUES (2, N'Phòng ăn', NULL, N'Một bữa ăn ngon luôn là mong ước của mỗi gia đình. Không gian phòng ăn đóng vai trò rất quan trọng trong văn hóa Việt. Nội thất Nhà Xinh mang đến những không gian phòng ăn đẹp, tinh tế, là sự kết hợp hài hòa giữa bàn ăn, ghế ăn, tủ, đồ trang trí… cho bạn sự tiện nghi, gần gũi và thoải mái.', N'Nội thất phòng ăn', 1, 2)
INSERT [dbo].[LOAIPHONG] ([Id_LoaiPhong], [TenLoaiPhong], [HinhAnh], [MoTa], [TenNoiThat], [TrangThai], [Type]) VALUES (3, N'Phòng ngủ', NULL, N'Phòng ngủ chính là không gian nghỉ ngơi, thư giãn sau ngày dài mệt mỏi. Những mẫu phòng ngủ của Nhà Xinh mang đến cảm giác ấm cúng, gần gũi và thoải mái. Trong tâm phòng ngủ là những chiếc giường ngủ thiết kế đẹp, kết hợp với bàn đầu giường, tủ áo….nhấn nhá thêm một số đèn , thảm và đồ trang trí.', N'Nội thất phòng ngủ', 1, 3)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([Id_LoaiSanPham], [TenLoai], [Id_KieuPhong], [TrangThai]) VALUES (1, N'Sofa', 1, 1)
INSERT [dbo].[LOAISANPHAM] ([Id_LoaiSanPham], [TenLoai], [Id_KieuPhong], [TrangThai]) VALUES (2, N'Tủ', 1, 1)
INSERT [dbo].[LOAISANPHAM] ([Id_LoaiSanPham], [TenLoai], [Id_KieuPhong], [TrangThai]) VALUES (3, N'Bàn', 1, 1)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([Id_LoaiSanPham], [Id_KhuyenMai], [Id_SanPham], [TenSanPham], [DonViTinh], [MauSac], [VatLieu], [KichThuoc], [HinhAnh], [Mota], [TrangThai], [NgayBatDauBaoHanh], [SoLuongTon], [XuatSu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (13, NULL, 2, N'Bàn ăn tròn MAXINE', N'Cái', NULL, N'Khung gỗ Beech, MDF Vener, Chân kim loại', N'1350 - C760 mm', N'500-round-table-cafe-86826.jpg', NULL, 1, CAST(N'2019-04-04T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2019-04-04T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[SANPHAM] ([Id_LoaiSanPham], [Id_KhuyenMai], [Id_SanPham], [TenSanPham], [DonViTinh], [MauSac], [VatLieu], [KichThuoc], [HinhAnh], [Mota], [TrangThai], [NgayBatDauBaoHanh], [SoLuongTon], [XuatSu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (14, NULL, 3, N'Ghế ăn không tay CHAMCHA', N'Cái', NULL, N'Chân kim loại- da', N'D508 - R508 - C838', N'500-ghe-an-chamcha.jpg', NULL, 1, CAST(N'2019-04-02T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2019-03-30T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[SANPHAM] ([Id_LoaiSanPham], [Id_KhuyenMai], [Id_SanPham], [TenSanPham], [DonViTinh], [MauSac], [VatLieu], [KichThuoc], [HinhAnh], [Mota], [TrangThai], [NgayBatDauBaoHanh], [SoLuongTon], [XuatSu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (13, NULL, 4, N'Bàn ăn CHAMPA', N'Cái', NULL, N'Gỗ chamcha, chân kim loại', N'D2200 -R1000-C760 mm', N'500-ban-an-chamcha-liveegde-86666-1.jpg', NULL, 1, CAST(N'2019-02-20T00:00:00.000' AS DateTime), 0, NULL, NULL, CAST(N'2019-02-25T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETDATHANG_dbo.DATHANG_Id_DatHang] FOREIGN KEY([Id_DatHang])
REFERENCES [dbo].[DATHANG] ([Id_DatHang])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_dbo.CHITIETDATHANG_dbo.DATHANG_Id_DatHang]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETDATHANG_dbo.SANPHAM_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SanPham])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_dbo.CHITIETDATHANG_dbo.SANPHAM_Id_SanPham]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETPHIEUGIAO_dbo.HOADONGIAOHANG_Id_HOADONGIAOHANG] FOREIGN KEY([Id_HOADONGIAOHANG])
REFERENCES [dbo].[HOADONGIAOHANG] ([Id_HOADONGIAOHANG])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO] CHECK CONSTRAINT [FK_dbo.CHITIETPHIEUGIAO_dbo.HOADONGIAOHANG_Id_HOADONGIAOHANG]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHITIETPHIEUGIAO_dbo.SANPHAM_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SanPham])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO] CHECK CONSTRAINT [FK_dbo.CHITIETPHIEUGIAO_dbo.SANPHAM_Id_SanPham]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DANHGIA_dbo.KHACHHANG_Id_KhachHang] FOREIGN KEY([Id_KhachHang])
REFERENCES [dbo].[KHACHHANG] ([Id_KhachHang])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_dbo.DANHGIA_dbo.KHACHHANG_Id_KhachHang]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DANHGIA_dbo.SANPHAM_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SanPham])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_dbo.DANHGIA_dbo.SANPHAM_Id_SanPham]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DATHANG_dbo.KHACHHANG_Id_KhachHang] FOREIGN KEY([Id_KhachHang])
REFERENCES [dbo].[KHACHHANG] ([Id_KhachHang])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_dbo.DATHANG_dbo.KHACHHANG_Id_KhachHang]
GO
ALTER TABLE [dbo].[GIASANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GIASANPHAM_dbo.SANPHAM_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SanPham])
GO
ALTER TABLE [dbo].[GIASANPHAM] CHECK CONSTRAINT [FK_dbo.GIASANPHAM_dbo.SANPHAM_Id_SanPham]
GO
ALTER TABLE [dbo].[HINH]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HINH_dbo.SANPHAM_Id_SanPham] FOREIGN KEY([Id_SanPham])
REFERENCES [dbo].[SANPHAM] ([Id_SanPham])
GO
ALTER TABLE [dbo].[HINH] CHECK CONSTRAINT [FK_dbo.HINH_dbo.SANPHAM_Id_SanPham]
GO
ALTER TABLE [dbo].[HOADONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HOADONGIAOHANG_dbo.DATHANG_Id_DatHang] FOREIGN KEY([Id_DatHang])
REFERENCES [dbo].[DATHANG] ([Id_DatHang])
GO
ALTER TABLE [dbo].[HOADONGIAOHANG] CHECK CONSTRAINT [FK_dbo.HOADONGIAOHANG_dbo.DATHANG_Id_DatHang]
GO
ALTER TABLE [dbo].[HOADONGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HOADONGIAOHANG_dbo.KHACHHANG_Id_KhachHang] FOREIGN KEY([Id_KhachHang])
REFERENCES [dbo].[KHACHHANG] ([Id_KhachHang])
GO
ALTER TABLE [dbo].[HOADONGIAOHANG] CHECK CONSTRAINT [FK_dbo.HOADONGIAOHANG_dbo.KHACHHANG_Id_KhachHang]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KHACHHANG_dbo.LOAIKHACHHANG_Id_LoaiKhachHang] FOREIGN KEY([Id_LoaiKhachHang])
REFERENCES [dbo].[LOAIKHACHHANG] ([Id_LoaiKhachHang])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_dbo.KHACHHANG_dbo.LOAIKHACHHANG_Id_LoaiKhachHang]
GO
ALTER TABLE [dbo].[KIEUPHONG]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KIEUPHONG_dbo.LOAIPHONG_Id_LoaiPhong] FOREIGN KEY([Id_LoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([Id_LoaiPhong])
GO
ALTER TABLE [dbo].[KIEUPHONG] CHECK CONSTRAINT [FK_dbo.KIEUPHONG_dbo.LOAIPHONG_Id_LoaiPhong]
GO
ALTER TABLE [dbo].[LOAISANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LOAISANPHAM_dbo.KIEUPHONG_Id_KieuPhong] FOREIGN KEY([Id_KieuPhong])
REFERENCES [dbo].[KIEUPHONG] ([Id_KieuPhong])
GO
ALTER TABLE [dbo].[LOAISANPHAM] CHECK CONSTRAINT [FK_dbo.LOAISANPHAM_dbo.KIEUPHONG_Id_KieuPhong]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SANPHAM_dbo.KHUYENMAI_Id_KhuyenMai] FOREIGN KEY([Id_KhuyenMai])
REFERENCES [dbo].[KHUYENMAI] ([Id_KhuyenMai])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_dbo.SANPHAM_dbo.KHUYENMAI_Id_KhuyenMai]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SANPHAM_dbo.LOAISANPHAM_Id_LoaiSanPham] FOREIGN KEY([Id_LoaiSanPham])
REFERENCES [dbo].[LOAISANPHAM] ([Id_LoaiSanPham])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_dbo.SANPHAM_dbo.LOAISANPHAM_Id_LoaiSanPham]
GO
ALTER TABLE [dbo].[TBL_GROUP_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_GROUP_LOGIN_dbo.TBL_GROUP_ID_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID])
GO
ALTER TABLE [dbo].[TBL_GROUP_LOGIN] CHECK CONSTRAINT [FK_dbo.TBL_GROUP_LOGIN_dbo.TBL_GROUP_ID_GROUP]
GO
ALTER TABLE [dbo].[TBL_GROUP_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_GROUP_LOGIN_dbo.TBL_LOGIN_USERNAME] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[TBL_LOGIN] ([USERNAME])
GO
ALTER TABLE [dbo].[TBL_GROUP_LOGIN] CHECK CONSTRAINT [FK_dbo.TBL_GROUP_LOGIN_dbo.TBL_LOGIN_USERNAME]
GO
ALTER TABLE [dbo].[TBL_GROUP_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_GROUP_ROLE_dbo.TBL_GROUP_ID_GROUP] FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[TBL_GROUP] ([ID])
GO
ALTER TABLE [dbo].[TBL_GROUP_ROLE] CHECK CONSTRAINT [FK_dbo.TBL_GROUP_ROLE_dbo.TBL_GROUP_ID_GROUP]
GO
ALTER TABLE [dbo].[TBL_GROUP_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_GROUP_ROLE_dbo.TBL_ROLE_ID_ROLE] FOREIGN KEY([ID_ROLE])
REFERENCES [dbo].[TBL_ROLE] ([ID])
GO
ALTER TABLE [dbo].[TBL_GROUP_ROLE] CHECK CONSTRAINT [FK_dbo.TBL_GROUP_ROLE_dbo.TBL_ROLE_ID_ROLE]
GO
ALTER TABLE [dbo].[TBL_MENU]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TBL_MENU_dbo.TBL_ROLE_ID_ROLE] FOREIGN KEY([ID_ROLE])
REFERENCES [dbo].[TBL_ROLE] ([ID])
GO
ALTER TABLE [dbo].[TBL_MENU] CHECK CONSTRAINT [FK_dbo.TBL_MENU_dbo.TBL_ROLE_ID_ROLE]
GO
