@model IEnumerable<WebSiteBanHang.Areas.Admin.ViewModels.PhanNhomNVViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<style>
    h2{
        color:blue;
        text-align:center;
    }
</style>
@*<div style="padding-bottom: 10px; padding-left: 15px;">
    <a class="btn btn-success" href="/Admin/NhanVien/Create">Thêm mới</a>
</div>*@
<h2> Danh sách nhân viên theo nhóm</h2>
<div class="col-md-12">
    <table id="pnnv" class="table table-bordered table-striped table-admin" role="grid">
        <tr>

            <th>
                Tên tài khoản
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>
  
            <th>Chức năng</th>
        </tr>
        <tbody class="tbody"> </tbody>
    </table>
</div>

<div class="form-group col-md-5">

    @Html.ActionLink("<<Quay lại danh sách", "Index", "PhanNhomNV")|
    <a class="btn btn-info" href="/Admin/PhanNhomNV/Create/@ViewBag.ID_Group" title="Thêm tài khoản vào nhóm"><i class="fa fa-user-plus"></i></a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var nav = $('.content-nav');
        //if (nav.length) {
        //    var contentNav = nav.offset().top;
        //}
        $(document).on('load', loadGridView());

        //config toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    });
    var id=@ViewBag.ID_Group;
    function loadGridView() {
        $('#pnnv').DataTable({

            serverSide: true,
            ajax: {
                url: "/Admin/NhanVien_Nhom/getall/"+id,
                type: "POST",
                dataType: "JSON",
            },
            language: {
                lengthMenu: "Hiển thị _MENU_ mục",
                zeroRecords: "Không tìm thấy ",
                info: "Hiển thị trang _PAGE_ đến _PAGES_ của _MAX_ mục",
                infoEmpty: "Không có dữ liệu",
                infoFiltered: "(lọc từ _MAX_ tổng mục)",
                search: "Tìm kiếm",
                searchPlaceholder: "Search...",
            },
            columns: [

                { title: "Tên tài khoản", data: "TenNV" },
                { title: "Số điện thoại", data: "SDT" },
                { title: "Email", data: "Email" },
               
                {
                    title: "Chức năng",
                    data: function (data, type, dataToSet) {
                        return data.MaNhom + "," + data.TenNV;
                    },
                    
                    searchable: false,
                    sortable: false,
                    render: function (data, type, full, meta) {
                        var list = data.split(",")
                        var groupid = list[0];
                        var username = list[1];
                        return `<div>
                                     <a class="btn btn-danger" onclick="XoaNhanVien(${groupid},'${username}')">
                                         <i class="fa fa-trash-o"></i>
                                     </a>
                                 </div> `

                    }
                }
            ],

        });
    }
    function XoaNhanVien(groupid, username) {
        
        if (window.confirm("Bạn có muốn xoá không?")) {
            $.ajax({
                method: "POST",
                url: "/Admin/NhanVien_Nhom/Delete?groupid=" + groupid + "&username=" + username,
                contentType: 'application/json',
                success: function (data) {
                    if (data.StatusCode === 200) {
                        toastr.success("Xóa thành công");
                        $('#pnnv').DataTable().ajax.reload();
                    } else {
                        toastr.error(data.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error(errorThrown);
                }
            });
        }
    }

    
        
</script>