@model IEnumerable<WebSiteBanHang.Models.TBL_GROUP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}


<style>
    .table .middle {
        vertical-align: middle;
    }

    .table-admin {
        border: 1px solid #ddd;
    }

        .table-admin td, .table-admin th {
            border: 1px solid #ddd !important;
        }

    h2, h4 {
        padding-left: 10px;
    }

    .Bang {
        background: none;
        border-top: none;
    }
</style>
<center>
    <h2>DANH SÁCH NHÓM</h2>
</center>

<div class="col-md-12">
    <div class="box Bang">
        <div style="padding-bottom: 10px; padding-left: 15px;">

            <a class="btn btn-success" data-toggle="modal" data-target="#myModalGroup">Thêm nhóm</a>
            <a class="btn btn-success" href="/Admin/NhanVien/Create">Thêm Account</a>
        </div>
    </div>



    <table class="table table-bordered table-striped table-admin" style="width:100%" role="grid" id="groupname">
        <tr>
            <th>
                Tên nhóm
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GROUPNAME)
                </td>

                <td>
                    <a class="btn btn-primary" href="/Admin/NhanVien/Index/@item.ID">Nhân viên </a>
                    <a class="btn btn-primary" href="/Admin/NhomQuyen/Index/@item.ID">Quyền</a>
                    <a class="btn btn-primary" href="/Admin/PhanNhomNV/Create/@item.ID">Thêm nhân viên</a>
                    <a class="btn btn-primary" href="/Admin/NhomQuyen/Create/@item.ID">Thêm quyền</a>
                    <a class="btn btn-danger" onclick="xoaNhom(@item.ID)">X</a>
</td>
            </tr>
        }

    </table>
</div>
// Popup thêm group
<div class="modal fade" id="myModalGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">TÊN NHÓM </h5>
            </div>
            <div class="modal-body">
                <form id="myForm">
                    <div class="form-group">
                        <label for="nhom" class="col-form-label">Tên nhóm</label>
                        <input type="text" class="form-control" id="groupname" name="groupname">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" id="submit" onclick="AddGroup()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
//Popup thêm account
<div class="modal fade" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">ACCOUNT Mới </h5>
            </div>
            <div class="modal-body">
                <form id="myFormNV">
                    <div class="form-group">
                        <label for="tennv" class="col-form-label">Tên nhân viên</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" id="submit" onclick="AddAccount()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function AddGroup(data) {
        var dom = document.getElementById("myForm")
        var formData = new FormData(dom)
        var gia = $('#groupname').val();

        $.ajax({
            method: "POST",
            url: "/Admin/PhanNhomNV/AddGroup",
            //contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,

            success: function (data) {
               
                    toastr.success("Thêm thành công");
                $('#myModalGroup').modal('hide')
                
                $('#groupname').val(gia)
                window.location.reload()
               
                    
               
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.error(errorThrown);
            }
        });
    }

    function xoaNhom(maNhom) {
        if (window.confirm("Bạn có muốn xoá không?")) {
            $.ajax({
                method: "POST",
                url: "/Admin/PhanNhomNV/Delete/" + maNhom,
                contentType: 'application/json',
                success: function (data) {
                    if (data.StatusCode === 200) {
                        var a = "#data_" + maNhom;
                        $(a).remove();
                        toastr.success("Xóa thành công");
                        $(a).DataTable().ajax.reload();
                        
                    } else {
                        toastr.error(data.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error(errorThrown);
                }
            });
        }
    }
</script>