<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button data-dismiss="modal" class="close"><span>&times;</span></button>
            <div class="modal-title" style="font-size:20px;font-weight:bold">Nhận xét</div>
        </div>
        <div class="modal-body form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Số sao:</label>
                <div id='rating' class="col-md-8">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Nhận xét:</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="comment" placeholder="Nhận xét" name="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="addComment" class="btn btn-success">Lưu</button>
            <button class="btn btn-default" data-dismiss="modal">Hủy</button>
        </div>
    </div>

</div>




