<style>
    .TenCTy {
        font-size: 15px;
        color: white;
        padding-top: 10px;
        text-align: center;
    }

    .DiaChi {
        font-size: 13px;
        color: white;
        text-align: center;
    }

    .GiaoHang {
        font-size: 13px;
        color: #f99903;
        text-align: center;
    }
    .footer {
        background-color: #808080;
        height:150px;
        margin-top:50px;

    }
   
       
    
    .footer-marquee {
        padding-top: 20px;
        
    }
</style>
<div class="footer">
    <div style="height:100px">
        <p class="TenCTy"> CỬA HÀNG PHÂN PHỐI TRANG THIẾT BỊ NHÀ Ở NHÀ XINH </p>
        <p class="DiaChi"> 140 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú, TP. Hồ Chí Minh </p>
        <p class="DiaChi">Điện thoại: 0767073048</p>
        <p class="GiaoHang">Giao hàng tận nơi trên địa bàn Hồ Chí Minh</p>
    </div>
    <div class="footer-marquee col-md-offset-2 col-md-8">
        <marquee><p style="font-family:'Times New Roman', Times, serif; font-size:15px; color:#FFF;" class="CUOI">Copyright@DoAnTotNghiep2019BachAnhQuang</p></marquee>
    </div>
</div>

