@*// thuộc tính clearfix là khi float left hoặc float right nuế nó*@ 
<div class="clearfix" style="background-color:#808080;color:white">
    <div class="float-left  d-block" style="width: 150px;margin: 15px 15px 15px 15px;">
        <span class="fa fa-phone mr-1" style="color: orange;"></span>Hotline:0914318762
    </div>
</div>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tìm cửa hàng</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">khuyến mãi</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Võ Duy Quang</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Right</a></li>
                <li><a href="#">Right</a></li>
            </ul>

        </div>
    </nav>

</div>
