
@{
    ViewBag.Title = "succesBill";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<div style="width:955px;margin:auto" id="detail_product">
    <h1 style="color:aquamarine;font-size:30;"> THANH TOÁN THÀNH CÔNG</h1>
    
</div>
