<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header "  border: 1px solid rgba(0,0,0,.125)">
            <button data-dismiss="modal" class="close"><span>&times;</span></button>
            
        </div>
        <div class="modal-body form-horizontal">
            <div id="new-cart" style="padding:10px;border-right:solid 1PX #d6d0c7;float:left">
                
            </div>
            <div id="load-cart" style="padding:10px 10px 10px 15px;float:left">


            </div>
            <div style="clear:both"></div>
        </div>
        <div class="modal-footer">
            <a href="/Cart/renderProductCarts" class="btn btn-primary">Đến với giỏ hàng</a>
            <button class="btn btn-default" data-dismiss="modal">Hủy</button>
        </div>
    </div>

</div>
