.detail-kh {
    padding-left: 20%;
}
.account-profile {
    display: block;
    margin-bottom: 20px;
    width: 70% !important;
    padding: 30px 20px 20px !important;
    margin-left:180px;
    background: #f9f7f7;
    border-radius: 4px;
}
h4 {
    
    color: #4169E1;
}
label {
    float: left;
    width: 20%;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 34px;
}
