

@model WebSiteBanHang.Areas.Admin.ViewModels.PhieuNhapHang_NCCViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_admin.cshtml";
}
<head>
    <script src="~/scripts/moment.min.js"></script>

</head>
<style>
    .table-admin {
        border: 1px solid #ddd;
    }

        .table-admin td, .table-admin th {
            border: 1px solid #ddd !important;
        }

    .TieuDe p {
        font-family: initial;
        font-size: 35px;
        color: #00020c;
    }

    .TieuDe a {
        width: 50px;
    }

    h2 {
        text-align: center;
        color: #4169E1;
    }

    .Bang {
        background: none;
        border-top: none;
    }
</style>
<h2>LẬP PHIẾU ĐẶT HÀNG </h2>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }*@

<div class="col-md-12">

    <div class="container">
        <div class="ThongTinPhieuDat">
            <table class="table table-responsive" id="ThongTinPhieuDat">
                <tr>
                    <td style="font-weight:bolder">Mã phiếu đặt</td>
                    <td>Cty Aa</td>
                    <td style="font-weight:bolder">Ngày đặt</td>
                    <td>Cty Aa</td>

                </tr>
                <tr>
                    <td style="font-weight:bolder">Nhà cung cấp</td>
                    <td>Cty Aa</td>
                    <td style="font-weight:bolder">Người đặt</td>
                    <td>Cty Aa</td>

                </tr>
                <tr>
                    <td style="font-weight:bolder">Tổng tiền</td>
                    <td colspan="3">Cty Aa</td>


                </tr>
            </table>


        </div>
        <div class="details">
           
            <table class="table table-responsive" id="chiTietDH">
                <tr>

                    <td>Tên Sản phẩm</td>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Chức năng</th>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    


                    <td>
                        <select id="TenSP" class=" pc form-control ">
                            <option>Select</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" id="sl" class="quantity form-control" />
                    </td>
                    <td>
                        <input type="text" id="dg" class="quantity form-control" />
                    </td>
                    <td>
                        <input type="text" id="tt" class="quantity form-control" readonly="readonly" />
                    </td>
                    <td>

                        <input type="button" value="X" class="btn btn-danger" onclick="remove(this)" />
                        <input type="button" value="Add" class="btn btn-primary" id="ThemSP" onclick="themChiTietDatHang()" />
                    </td>
                </tr>
            </table>

            <div>

                <input id="Create" type="submit" value="Xác nhận" class="col-md-offset-5 col-md-2 btn btn-warning " style="padding:10px 20px" />

            </div>

        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")


</div>
}
